<app-form
  title="Módulo de Usuarios"
  description="Gestión de usuarios en la aplicación"
  icon="pi-users"
  iconColor="blue"
  [editing]="editing"
  entityName="usuario"
>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="space-y-6"
  >
    <div class="grid md:grid-cols-2 gap-6">
      <app-input
        label="Nombre completo"
        formControlName="nombre"
        [invalid]="form.controls.nombre.touched && form.controls.nombre.invalid"
        placeholder="Ingresa nombre completo"
      />
      <app-input
        label="Correo"
        formControlName="correo"
        [invalid]="form.controls.correo.touched && form.controls.correo.invalid"
        placeholder="Ingresa correo electrónico"
      />
      <app-input
        label="Contraseña"
        type="password"
        formControlName="password"
        [invalid]="confirmPassword()"
        placeholder="{{
          editing ? 'Dejar en blanco para no cambiar' : 'Ingresa contraseña'
        }}"
        [hint]="
          editing ? 'Llena ambos campos para cambiarla' : 'Mínimo 6 caracteres'
        "
      />
      <app-input
        label="Confirmar Password"
        type="password"
        formControlName="confirmarPassword"
        [invalid]="
          confirmPassword() ||
          (form.controls.confirmarPassword.touched &&
            form.controls.confirmarPassword.invalid)
        "
        placeholder="{{
          editing ? 'Repetir nueva contraseña' : 'Repita la contraseña'
        }}"
        [message]="error"
      />
    </div>

    <div class="flex items-center justify-end gap-3 pt-4">
      <button
        type="button"
        (click)="goBack()"
        class="px-5 py-2.5 rounded-xl text-sm font-semibold hover:bg-dark-50 dark:bg-dark-500 dark:hover:bg-dark-600 text-dark-500 dark:text-dark-100"
      >
        <i class="pi pi-times"></i>
        <span> Cancelar </span>
      </button>
      <button
        type="submit"
        [disabled]="loading"
        class="inline-flex items-center gap-2 hover:bg-blue-600 hover:text-white text-blue-600 dark:text-blue-400 dark:hover:bg-blue-600 font-semibold disabled:opacity-60 px-6 py-2.5 rounded-xl text-sm"
      >
        <i
          class="pi"
          [ngClass]="
            loading ? 'pi-spin pi-spinner' : editing ? 'pi-check' : 'pi-save'
          "
        ></i>
        <span>{{ editing ? "Listo" : "Guardar" }}</span>
      </button>
    </div>
  </form>
</app-form>
